body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-image:url(Images/4850268.jpg);
    margin-top: 50px;
    
}
.pergunta {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border: 1px solid black;
    cursor: pointer;

}

#button {
    margin-top: 20px;
    font-size: 20px;
    background-color: #ececec;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    height: 300%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
#button:hover {
    background-color: #9ebad0;
}

#link_button {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
 

}   

#score {
    font-size: 240px;
    font-weight: bold;
    margin-top: 20px;
}
#titulo {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#descrição {
    font-size: 30px;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pergunta {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.pergunta:hover {
    background-color: #7fdabb;
}
#text_pergunta {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: auto;
    margin-top: auto;
    color: #1a222e;
    padding: 50px;
    border-radius: 8px;
   
}
#fundo_pergunta {
    background-color: #c7dde6;
    padding: 30px;
    border-radius: 8px; 
    min-height: 280px;
    border-bottom: 30px;
}
#pontuação {
    font-size: 60px;
    font-weight: bold;
    padding: 30px;
    color: #06033f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c4e4ff;
    border-radius: 8px;
}
#score {
    font-size: 240px;
    font-weight: bold;
    margin-top: 20px;
    color: #06033f;
    background-color: azure;
    border-radius: 8px;
}
#texto {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}